<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541570229973-4lq5a71iotsov38ddl2v8bri0caml6q1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541570229973-4lq5a71iotsov38ddl2v8bri0caml6q1</string>
	<key>API_KEY</key>
	<string>AIzaSyBLFOXprBAITWAnGiA8IqtaryuI6NZrkog</string>
	<key>GCM_SENDER_ID</key>
	<string>541570229973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ravidkrisi.BookWormIOS</string>
	<key>PROJECT_ID</key>
	<string>bookwormios</string>
	<key>STORAGE_BUCKET</key>
	<string>bookwormios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541570229973:ios:2c43eb8648832fef7fa45c</string>
</dict>
</plist>